<div class="container-fluid " 
    style="text-align: center;">
    <div class="row my-3">
        <div style="height:100px;text-align: center; padding-top:20px; padding-bottom: 20px;">
            <img src="assets/logoBikeBox.png" alt="BikeBox">
         </div>

 
    </div>
    <div class="row my-3" >
        <div class="col-1" style="height: 80px;">
        <!-- {{ curLan.name}} -->
        </div>
        <div class="col-10">
            <button type="button" class="btn btn-success btn-set-lang" 
                [ngClass]="{'btn-set-lang-selected': curLan.langId === 'en'}"
                (click)="setLanguage('en')">English</button>
            <button type="button" class="btn btn-success btn-set-lang"
                [ngClass]="{'btn-set-lang-selected': curLan.langId === 'he'}"
                (click)="setLanguage('he')">עברית</button>
            <button type="button" class="btn btn-success btn-set-lang"
                [ngClass]="{'btn-set-lang-selected': curLan.langId === 'ar'}"
                (click)="setLanguage('ar')">عربي</button>
            <button type="button" class="btn btn-success btn-set-lang"
                [ngClass]="{'btn-set-lang-selected': curLan.langId === 'ru'}"
                (click)="setLanguage('ru')">Русский</button>
        </div>
        <div class="col-1">
        
        </div>
       </div>
    <div class="row my-3"  >
       
    </div>
</div>
