<header>
  <div class="row">
    <div class="col-xs-4 npr" id="logo">
      <!--a href="/"><img src="https://bikebox.co.il/registration//app/views/images/logo.png" alt="Logo"></a-->
    </div>
    <div class="col-xs-4 a-logo" id="logo2" >
      <div style="height:100px;text-align: center; padding-top:20px; padding-bottom: 20px;">
        <img src="assets/logoBikeBox.png" alt="BikeBox">
     </div>
    </div>
    <div class="col-xs-4 npl">
      <!--a class="rel_btn" href="#">יציאה</a-->
    </div>
  </div>
</header>

<content>

  <form  id="step4" >
    <div class="content fff">
      <!-- <h1>הרשמה למערכת חניון אופניים</h1>
      <h2>כדי להשתמש בשירותי החניון אנא מלא את הפרטים הבאים:</h2> -->
      <h1>{{Registr.title}}</h1>
      <h2>{{Registr.title2}}</h2>
      <div class="row">
        <div class="col-xs-4 npr">
          <!-- <label>שם פרטי + משפחה</label> -->
          <label>{{Registr.name}}</label>
        </div>
        <div class="col-xs-8 npl">
          <!-- <input type="text" name="name"
            data-pattern="^[a-zA-Z\u0590-\u05FF\-\' ]+$" class="required"> -->
          <input type="text" name="name"
             class="required">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 npr">
          <!-- <label>מספר ת.ז.</label> -->
          <label>{{Registr.passport}}</label>
        </div>
        <div class="col-xs-8 npl">
          <input type="text" name="passport" data-pattern="[0-9]{9}" class="required">
          <!-- <input type="text" name="passport" data-pattern="^[0-9]+$" min="9"
            max="9" class="required"> -->
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 npr">
          <!-- <label>אימייל</label> -->
          <label>{{Registr.email}}</label>
        </div>
        <div class="col-xs-8 npl">
          <input type="email" name="email" class="required">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 npr">
          <label>{{Registr.phone}}</label>
        </div>
        <div class="col-xs-8 npl">
          <input type="text" data-pattern="[0-9\+\-]{10,15}" 
            name="phone" class="required">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 npr">
          <!-- <label>כתובת מגורים</label> -->
          <label>{{Registr.address}}</label>
        </div>
        <div class="col-xs-8 npl">
          <input type="text" name="address">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 npr">
          <label>{{Registr.ravkav}}</label>
        </div>
        <div class="col-xs-8 npl">
          <input type="text" name="ravkav" data-pattern="^[0-9]+$" min="16"
            max="16">
        </div>
      </div>
      <div class="row">
        <input type="checkbox" class="required" id="ch-1">
        <!-- <label for="ch-1">אני מסכים ל<a href="/registration/payment/terms"
          >תנאי השימוש</a></label> -->
        <label for="ch-1">{{Registr.iamagree}}
            <a href={{Registr.paytermsref}}>{{Registr.paytermstxt}}</a>
        </label>
      </div>
      <div class="row">
        <input type="checkbox" class="required" id="ch-2">
        <!-- <label for="ch-2">אני מסכים ל<a href="/registration/payment/policy"
          >מדיניות הפרטיות </a></label> -->
        <label for="ch-2">{{Registr.iamagree}}
          <a href={{Registr.paypolicyref}}>{{Registr.paypolicytxt}}</a>
        </label>
        </div>
    </div>

    <div class="btns">
      <div class="row">
        <div class="col-xs-6 npr align-right">
          <a href="/registration/payment/type" class="back">חזור</a>
          <a href="/registration/payment/exit"
            style="background: #b46007; margin-right: 5%;" class="back back2">יציאה</a>
        </div>
        <div class="col-xs-6 npl align-left">
          <button type="submit" class="next">המשך</button>
        </div>
      </div>
    </div>
  </form>
</content>

<!-- <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        הרשמה למערכת חניון אופניים</h4>
      <button type="button" class="btn-close" d
        ata-bs-dismiss="modal" aria-label="Close" 
        (click)="dismissMe('Cross click')">
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="name">Date of birth</label>
          <div class="input-group">
            <input tokeyb id="name" name="name" class="form-control">
           </div>
        </div>
        <div class="form-group">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input tokeyb id="dateOfBirth" name="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #dp="ngbDatepicker">
            <button type="button" class="btn btn-outline-secondary bi bi-calendar" (click)="dp.toggle()"></button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" 
      (click)="closeMe('Save click')">Save</button>
    </div> -->
